@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

.btn {
  color: white;
  background-color: #3A506B;
  padding: 16px 24px;
  margin-top: 24px;
  display: inline-block;
}

.btn:hover {
  background-color: pink;
}

#navigation li {
  font-size: 40px;
}

body {
  background-color: #3A506B;
  font-family: 'Open Sans';
}

h1, h2 {
  font-family: 'Poppins';
  color: #3A506B;
}

a {
  color: #3A506B;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
  padding: 0 16px;
}

img {
  border-radius: 50%;
}

.container {
  background-color: white;
  padding: 40px;
  width: 600px;
  margin: 28px auto;
  text-align: center;
  border-radius: 5px;
}

.fab {
  color: p#3A506B;
  font-size: 36px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}